/* design inspired by any.do */
.App {
  text-align: center;
  text-align: -webkit-center;
  font-family:"Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  height: 100vh;
  width: 100vw;
}
.overlay {
  z-index: 9998;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  opacity: 0.5;
}
.overlay-form {
  z-index: 9999;
  background-color: white;
  position: absolute;
  top: 20vh;
  border-radius: 15px;
}
.log-in-container {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}
.input-container {
  margin-top: 50px;
}
.input-overlay {
  padding-left: 10px;
  border-bottom: 2px solid #767676;
  width: fit-content;
  margin: 20px 15px;
  height: 50px;
  background-color: #f5f8fa;
  text-align: left;
  color: #657786;
  font-size: 15px;
  padding-top: 5px;
}
.input-overlay-focused {
  color: rgb(0, 128, 255);
  border-bottom: 2px solid rgb(0, 128, 255);
}
.log-in-input {
  border: 0;
  display: block;
  width: 540px;
  padding: 0;
  background-color: #f5f8fa;
  position: relative;
  top: 5px;
  font-size: 19px;
}
.log-in-input:focus {
  outline: 0;
}
.cancel {
  margin-top: 15px;
  color: rgb(0, 128, 255);
  cursor: pointer;
  width: fit-content;
}
.cancel:hover {
  text-decoration: underline;
}
.todo-form {
  text-align: left;
  left: 35vw;
  height: 300px;
  width: 500px;
  padding-left: 0;
}
.text-area-autosize {
  border: none;
  border-radius: 5px;
  resize: none;
  opacity: 0.5;
  font-family: inherit;
}
.text-area-autosize:hover {
  background-color: rgb(243, 243, 243);
}
.text-area-autosize:focus {
  outline: none;
  opacity: 1;
  background-color: rgb(243, 243, 243);
}
.sub-task-form {
  font-size: 1.25vw;
  vertical-align: middle;
  width: 75%;
}
.sub-task-form:hover {
  background-color: initial;
}
.sub-task-form:focus {
  background-color: initial;
}
.todo-form-title {
  display: inline-block;
  font-size: 2vw;
  font-weight: 800;
  padding: 10px 20px;
  width: 70%;
  border-radius: 15px;
}
.notes-title {
  padding: 10px 20px;
  padding-bottom: 0;
}
.todo-form-footer {
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: solid 2px rgb(243, 243, 243);
  width: 100%;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition-duration: 0.5s;
  font-weight: 800;
  opacity: 0.7;
}
.todo-form-footer:hover {
  background-color: rgb(243, 243, 243);
}
.footer-active {
  opacity: 1;
  color: rgb(0, 128, 255);
}
.sidebar {
  width: 250px;
  height: 100vh;
  padding: 25px 0;
  position: fixed;
  background-color: white;
}
.link {
  color: rgb(0, 128, 255);
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.log-out {
  position: absolute;
  bottom: 12%;
  left: 35%;
}
.sidebar-content-container div {
  padding-left: 25px;
}
.sidebar-content-container {
  margin-top: 50px;
}
.headline {
  font-weight: 800;
  font-size: 1.85vw;
  text-align: left;
  margin: 2vh 0;
}
.project-list {
  text-align: left;
  padding-left: 0 !important;
}
.project {
  padding: 10px 0;
  cursor: pointer;
}
.project:hover {
  background-color: #f3f1f1;
}
.project-selected {
  color: rgb(0, 128, 255);
  background-color: #f3f1f1;
  font-weight: 800;
}
.main {
  position: fixed;
  height: 100vh;
  left: 250px;
  top: 10vh;
  padding-left: 2vw;
}
.content {
  display: flex;
  text-align: left;
}
.todo-title {
  width: fit-content;
  font-weight: 800;
  font-size: 1.85vw;
  opacity: 1;
}
.btn-container {
  padding: 10px 25px;
  border-radius: 25px;
  background-color: rgb(0, 128, 255);
  width: fit-content;
  cursor: pointer;
  transition-duration: 0.5s
}
.btn-container:hover {
  opacity: 0.7;
  transition-duration: 0.5s
}
.btn-disabled {
  opacity: 0.5;
}
.btn-disabled:hover {
  opacity: 0.5;
}
.fa-plus {
  color: white;
  display: inline-block;
  font-size: 1.5vw;
  margin-right: 10px;
}
.btn-text {
  display: inline-block;
  color: white;
  font-weight: 800;
  font-size: 1.5vw;
}
.title-container {
  text-align: left;
  padding-left: 2vw;
}
.title {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: white;
  font-weight: 800;
  font-size: 1.85vw;
}
.list {
  width: 30vw;
  height: 70vh;
  display: inline-block;
  margin: 3vh 2vw;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  overflow: scroll;
}
.no-todos-container {
  text-align: center;
  margin-top: 30%;
}
.no-todos-headline {
  font-size: 2vw;
  font-weight: 800;
  margin-bottom: 15px;
}
.todo-item-container {
  padding: 10px 0;
  margin: 15px 0;
  border: solid 1px rgb(207, 203, 203);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s
}
.todo-item-container:hover {
  border-color: rgb(0, 128, 255);
  transition-duration: 0.5s
}
.todo-item-container div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.todo-item {
  width: 100%;
}
.checkbox {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 1vw;
  border: solid 1px rgb(90, 88, 88);
  margin: 0 20px;
}
.fa-check {
  font-size: 1.75vw;
  position: relative;
  right: 2px;
  bottom: 2px;
  color: grey;
}
.fa-check:hover {
  color: rgb(0, 128, 255);
}
.todo-item-title {
  font-size: 1.25vw;
}
.todo-detail-header div {
  display: inline-block;
  vertical-align: middle;
}
.priority-btn {
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px;
  float: right;
  cursor: pointer;
  opacity: 0.5;
}
.todo-form-priority {
  margin-top: 10px;
  margin-right: 10px;
}
.high-priority {
  color: rgb(209, 4, 4);
  border-color: rgb(209, 4, 4);
  opacity: 1;
}
.todo-item-notes {
  width: 100%;
  font-size: 1.1vw;
  padding: 10px 5px;
  margin-top: 10px;
}
.todo-form-notes {
  padding: 10px 20px;
  width: 90%;
}
.sub-tasks-container {
  margin-top: 10px;
}
.date-container {
  margin-top: 10px;
}
.date {
  margin-top: 10px;
}
.sub-title {
  font-size: 0.9vw;
}
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
/*animation adapted from https://stackoverflow.com/questions/36267507/is-it-possible-to-animate-a-css-line-through-text-decoration*/
@keyframes strike {
  0%   { width : 0; }
  100% { width: 100%; }
}
.strike {
  position: relative;
  color: grey;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0.5;
  animation-name: strike;
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
@keyframes unstrike {
  0%   { width : 100%; }
  100% { width: 0; }
}
.unstrike {
  position: relative;
}
.unstrike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 1px;
  background: grey;
  animation-name: unstrike;
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.done {
  color: grey;
  text-decoration: line-through;
}